page-item-detail {
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: white;
    position: absolute;
  }

}

.greenBG {
  > div{
    background-color: green!important;
  }
}

.deleteButton {
    color: red!important;
}
